div, p, dl, dd, h1, h2, h3, h4, h5, h6, a, b, u, em, input, textarea, button, select, form, section, label, span, td, li, nav, footer, body, ul, i { -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-tap-highlight-color: rgba(0,0,0,0); padding: 0; margin: 0; }
ul, li, ol { list-style: none; }
a, img, button{-webkit-touch-callout:none; -webkit-user-select:none;}
a:focus, a:active, a:hover, input, button, textarea { outline: none; }
table { border-collapse: collapse; }
body, td, input, textarea, option, select, button {font-family:"Roboto",helvetica,arial,"Microsoft YaHei","Heiti SC"; -webkit-text-size-adjust: none; }
body{font-size:0.875em;}
em, i{font-style:normal;}
p{-webkit-text-size-adjust: none !important;}
body{background:#fff; color:#222;}
a{text-decoration:none;}
img{display:block}
html, body { height: 100%; font-family: Roboto,Tahoma,Arial,'Droid Sans','Helvetica Neue','Droid Sans Fallback','Heiti SC','Hiragino Sans GB',"Microsoft YaHei",Simsun,sans-self; }
.clearfix:after{content: ''; display: block; overflow: hidden; visibility: hidden; clear: both;}
body { background-color: #fff; max-width: 640px; margin: 0 auto;  background: #f5f5f5}
input[type="search"]{-webkit-appearance:none;} 
input::-webkit-search-cancel-button {display: none;}

/* ----------- iPhone 4 and 4S and 5 and 5S ----------- */
  @media only screen
    and (device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2) {
    html {
      font-size: 85.3%;
    }
  }

  /* ----------- Galaxy S3 ----------- */
  @media only screen
    and (device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 3) {
    html {
      font-size: 85.3%;
    }
  }

  /* ----------- iPhone 6 ----------- */
  @media only screen
    and (device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 2) {
    html {
      font-size: 100%;
    }
  }

  /* ----------- iPhone 6+ ----------- */
  @media only screen
    and (device-width: 414px)
    and (-webkit-min-device-pixel-ratio: 3) {
    html {
      font-size: 110.4%;
    }
  }

  /* ----------- Galaxy S5 ----------- */

  @media screen
    and (device-width: 360px) {
    html {
      font-size: 96%;
    }
  }

  /* ----------- Other ----------- */
  @media screen
    and (min-width: 415px)
    and (max-width: 465px) {
    html {
      font-size: 117%;
    }
  }

  @media screen
    and (min-width: 465px)
    and (max-width: 515px) {
    html {
      font-size: 129%;
    }
  }

  @media screen
    and (min-width: 515px)
    and (max-width: 565px) {
    html {
      font-size: 144%;
    }
  }

  @media screen
    and (min-width: 565px)
    and (max-width: 615px) {
    html {
      font-size: 154%;
    }
  }

  @media screen
    and (min-width: 615px)
    and (max-width: 640px) {
    html {
      font-size: 168%;
    }
  }

  @media screen
    and (min-width: 640px) {
    html {
      font-size: 170%;
    }
  }

/* ----------- 公共部分 ----------- */
.wrapper {
  width: 100%;
  min-height: 100%;
  padding-bottom: 4.375rem;
}
.header {
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.06rem;
  color: #394043;
  background: #f9f9f9;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
}
.header i {
  display: block;
  width: 3.75rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
.header i:after {
  content: '';
  display: block;
  width: .65rem;
  height: 1.156rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -.325rem;
  margin-top: -.578rem;
  background: url(../images/arrow_left_icon.png) no-repeat;
  background-size: .65rem 1.156rem;
}

.header a {
  color: #394043;
  padding: 0 1rem;
}

.header a.on {
  color: #ff8300;
  border-bottom: 2px solid #ff8300
}

.button_link_wrapper {
  margin: 2.65rem;
  text-align: center;
}

.button_link_wrapper .button_link, .button_link {
  display: inline-block;
  padding: 0.7rem 1.1875rem;
  color: #fff;
  border: 0;
  background:background: -moz-linear-gradient(left, #ff8a00, #ff5300);
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, #ff8a00, #ff5300);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #ff8a00, #ff5300);
}
.common-nav {
  width: 100%;
  height: 4.375rem;
  background-color: #f1f1f1;
  border-top: 1px solid #d8d8d8;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
}
.common-nav .nav-item {
  width: 25%;
  float: left;
  height: 100%;
}
.common-nav .nav-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #687072;
  font-size: .9275rem;
  line-height: 7rem;
  text-align: center;
  position: relative;
}
.common-nav .nav-item.home a i {
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  top: .65rem;
  background: url(../images/nav-home.png) no-repeat;
  background-size: 2rem 2rem;
}
.common-nav .nav-item.business-i a i {
  display: block;
  width: 1.8125rem;
  height: 1.8125rem;
  position: absolute;
  left: 50%;
  margin-left: -.9rem;
  top: .75rem;
  background: url(../images/nav-business.png) no-repeat;
  background-size: 1.8125rem 1.8125rem;
}
.common-nav .nav-item.order a i {
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  top: .65rem;
  background: url(../images/nav-order.png) no-repeat;
  background-size: 2rem 2rem;
}
.common-nav .nav-item.center a i {
  display: block;
  width: 2rem;
  height: 1.9375rem;
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  top: .75rem;
  background: url(../images/nav-center.png) no-repeat;
  background-size: 2rem 1.9375rem;
}
.common-nav .nav-item.on a {
  color: #ff5000
}
.common-nav .nav-item.on.home a i {
  background: url(../images/nav-home-current.png) no-repeat;
  background-size: 2rem 2rem;
}
.common-nav .nav-item.on.business-i a i {
  background: url(../images/nav-business-current.png) no-repeat;
  background-size: 1.8125rem 1.8125rem;
}
.common-nav .nav-item.on.order a i {
  background: url(../images/nav-order-current.png) no-repeat;
  background-size: 2rem 2rem;
}
.common-nav .nav-item.on.center a i {
  background: url(../images/nav-center-current.png) no-repeat;
  background-size: 2rem 1.9375rem;
}

/* ----------- 首页 ----------- */
.home-header {
  position: relative;
}
.home-header .home-header-list {
  width: 100%;
  height: 12.5rem;
  position: relative;
  overflow: hidden;
}
.home-header .home-header-list li {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.home-header .home-num-list {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: .5rem;
  z-index: 11;
}
.home-header .home-num-list ul {
  display: inline-block;
}
.home-header .home-num-list ul li {
  width: .4375rem;
  height: .4375rem;
  border-radius: 50%;
  background-color: #fff;
  margin-right: .375rem;
  float: left;
  opacity: .4;
}
.home-header .home-num-list ul li.on {
  opacity: 1;
}
.home-header .home-num-list ul li:last-child {
  margin-right: 0;
}
.home-header .search-area {
  width: 20.16rem;
  height: 2.1875rem;
  position: absolute;
  left: 50%;
  margin-left: -10.08rem;
  top: 1.5625rem;
  background-color: #fff;
  border-radius: .5rem;
  z-index: 10;
  -webkit-box-shadow: 0.125rem 0.125rem 0.5rem 0 rgba(0,0,0,.2);
          box-shadow: 0.125rem 0.125rem 0.5rem 0 rgba(0,0,0,.2);
}
.home-header .search-area .search-left {
  width: 5.625rem;
  height: 2.1825rem;
  padding: 0 .8125rem;
  position: absolute;
  left: 0;
  top: 0;
}
.home-header .search-area .search-left .search-left-content {
  width: 100%;
  height: 2.1825rem;
  line-height: 2.1825rem;
  font-size: .75rem;
  position: relative;
}
.home-header .search-area .search-left .search-left-content:after {
  content: '';
  display: block;
  width: .4375rem;
  height: .28rem;
  position: absolute;
  top: 50%;
  margin-top: -.14rem;
  right: 0;
  background: url(../images/search-arrow.png) no-repeat;
  background-size: .4375rem .28rem;
}
.home-header .search-area .search-left .search-select {
  width: 100%;
  height: 2.1825rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
  opacity: 0
}
.home-header .search-area .search-right {
  margin-left: 5.625rem;
  padding: .5rem 0;
  height: 100%;
}
.home-header .search-area .search-right .search-right-input {
  width: 100%;
  height: 100%;
  padding: 0 .8125rem 0 2.25rem;
  border-left: 1px solid #c8c8c8;
  position: relative;
}
.home-header .search-area .search-right .search-right-input input {
  height: 1.1825rem;
  line-height: 1.1825rem;
  font-size: .75rem;
  padding: 0;
  margin: 0;
  border: 0;
}
.home-header .search-area .search-right .search-right-input:after {
  content: '';
  display: block;
  width: .78125rem;
  height: .78125rem;
  position: absolute;
  left: .8125rem;
  top: 50%;
  margin-top: -.39rem;
  background: url(../images/search-icon.png) no-repeat;
  background-size: .78125rem .78125rem;
}
.home-header .home-head-bg {
  width: 100%;
  height: 3.66rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
  background: url(../images/home-header-bg.png) no-repeat;
  background-size: 100% 100%;
}
.home-content {
  padding: 1rem;
  background: #fff;
}
.home-content .home-content-title {
  width: 100%;
  height: 2.8125rem;
  line-height: 2.8125rem;
  font-size: 1.5rem;
  color: #394043;
  position: relative;
  border-bottom: 1px solid #9c9fa1;
}
/*.home-content .home-content-title .question-btn {
  padding-right: 1.4rem;
  height: 2.8125rem;
  line-height: 2.8125rem;
  color: #f4792a;
  font-size: .9375rem;
  position: absolute;
  right: 0;
  top: 0;
}
.home-content .home-content-title .question-btn:after {
  content: '';
  display: block;
  width: .78125rem;
  height: .84375rem;
  position: absolute;
  right: .3125rem;
  top: 50%;
  margin-top: -.421875rem;
  background: url(../images/question-icon.png) no-repeat;
  background-size: .78125rem .84375rem;
}*/
.home-content .home-content-title .question-btn {
  padding-right: .8rem;
  height: 2.8125rem;
  line-height: 2.8125rem;
  color: #f4792a;
  font-size: .9375rem;
  position: absolute;
  right: 0;
  top: 0;
}
.home-content .home-content-title .question-btn:after {
  content: '';
  display: block;
  width: .9rem;
  height: 1rem;
  position: absolute;
  right: -.5rem;
  top: 50%;
  margin-top: -.6rem;
  background: url(../images/question-new-icon.png) no-repeat;
  background-size: .9rem 1rem;
}
.home-content .home-content-nav {
  width: 100%;
  height: 3.4375rem;
  border-top: 1px solid #9c9fa1;
  background: url(../images/home-content-nav.png) repeat-x;
}
.home-content-nav .content-nav-item {
  width: 25%;
  float: left;
  height: 3.4375rem;
  padding: .5625rem 0;
}
.home-content-nav .content-nav-item a {
  display: block;
  width: 100%;
  height: 100%;
  border-right: 1px dotted #9b9fa1;
  color: #676c6e;
  font-size: .625rem;
  line-height: 4.2rem;
  text-align: center;
  position: relative;
}
.home-content-nav .content-nav-item.house a i {
  display: block;
  width: 1.4375rem;
  height: 1.125rem;
  position: absolute;
  left: 50%;
  margin-left: -.71875rem;
  top: .25rem;
  background: url(../images/home-nav-house.png) no-repeat;
  background-size: 1.4375rem 1.125rem;
}
.home-content-nav .content-nav-item.couple a i {
  display: block;
  width: 1.71875rem;
  height: 1.3125rem;
  position: absolute;
  left: 50%;
  margin-left: -.86rem;
  top: .125rem;
  background: url(../images/home-nav-couple.png) no-repeat;
  background-size: 1.71875rem 1.3125rem;
}
.home-content-nav .content-nav-item.inherit a i {
  display: block;
  width: 1.1875rem;
  height: 1.4rem;
  position: absolute;
  left: 50%;
  margin-left: -.594rem;
  top: .125rem;
  background: url(../images/home-nav-inherit.png) no-repeat;
  background-size: 1.1875rem 1.4rem;
}
.home-content-nav .content-nav-item.more a i {
  display: block;
  width: 1.375rem;
  height: 1.1rem;
  position: absolute;
  left: 50%;
  margin-left: -.6875rem;
  top: .25rem;
  background: url(../images/home-nav-more.png) no-repeat;
  background-size: 1.375rem 1.1rem;
}
.home-content-nav .content-nav-item.current a {
  color: #394043
}
.home-content-nav .content-nav-item:last-child a {
  border-right: none;
}
.home-content-list li {
  padding: .9375rem .3125rem;
  border-bottom: 1px solid #e3e4e5;
}
.home-content-list li p {
  color: #394043;
  font-size: .9375rem;
  line-height: 1.25rem;
}
.home-content-list li p i {
  padding: .125rem .5rem;
  font-size: .625rem;
  border-radius: .25rem;
  margin-right: .5rem;
}
.home-content-list li p i.inherit {
  background-color: #f5f5f5;
  color: #666;
}
.home-content-list li p i.entrust {
  background-color: #fff2d3;
  color: #f4792a;
}
  
/* ----------- 业务 ----------- */

.business {
  padding: 2.5rem 2.7rem
}

.business h1{
  font-size: 1.12rem;
  color: #394043;
  text-align: center;
}

.business p {
  color: #9c9fa1;
  font-size: 0.9375rem;
  padding: 1.6875rem 1.3125rem;
  border-bottom: 1px solid #e4e6f0;
}

/* ----------- 付款方式 ----------- */

.pay div.list_wrapper ul{
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 0.8rem
}

.pay div.list_wrapper ul li{
  height: 5.5rem;
  display: flex;
  flex:0 0 50%;
  align-items: center;
  margin: 10px 0;
} 
.pay div.list_wrapper a {
  margin: 10px 5px;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  text-decoration: none;
  color: #394043;
  line-height: 5.5rem;
  padding-left: 10px;
  font-size: 1rem;
}
.pay div.list_wrapper a.all {
  background: url(../images/all_money.png) no-repeat 70px center #f9f9f9; 
  background-size: 6.5rem;

}

.pay div.list_wrapper a.gjj {
  background: url(../images/gjj_money.png) no-repeat 80px center #f9f9f9; 
  background-size: 6.5rem;
}

.pay div.list_wrapper a.sy {
  background: url(../images/sy_money.png) no-repeat 92px center #f9f9f9; 
  background-size: 6.5rem;
}

.pay div.list_wrapper a.zh {
  background: url(../images/zh_money.png) no-repeat 78px center #f9f9f9; 
  background-size: 6.5rem;
}

.pay div.list_wrapper a img{
  width: 9rem;
}


/* ----------- 订单 ----------- */
.order_list, .me_list{
  margin: 1rem 0;
  border-top: 1px solid #e3e4e5
}
.order_list ul li a, .me_list ul li a{
  background: #fff;
  font-size: 1rem;
  text-decoration: none;
  color: #2e3140;
  height: 3.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e3e4e5
}

.order_list ul li a .progress_wrapper {
  display: flex;
  align-items: center;
  color: #87cf76
}

.order_list ul li a .progress {
  display: flex;
  width: 6.875rem;
  height: 0.5rem;
  border-radius: 0.2rem;
  background: #ebebeb;
  overflow: hidden;
  margin-right: 5px;
}

.order_list ul li a .progress div {
  background: #87cf76;
}

.arrow {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid #2e3140;
  border-top: 0px;
  border-left: 0px;
  transform: rotate(-45deg);
}

/* ----------- 我 ----------- */
.me_wrapper {

}


.me_info {
  height: 12.75rem;
  padding: 1rem 0;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  background:background: -moz-linear-gradient(left, #ff8a00, #ff5300);
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, #ff8a00, #ff5300);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #ff8a00, #ff5300);
}

.me_info .avatar_wrapper {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 12rem;
}

.me_info .avatar_wrapper span {
  position: absolute;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem; 
  color: #fff;
  z-index: 9;
}

.me_info .avatar_wrapper span.local {
  background: rgba(135,207,118,.9);
  border: 1px solid #62cd9e;
  padding-right: 3rem;
  bottom: 1rem;
  left: 0rem;
}

.me_info .avatar_wrapper span.man {
  background: #f47e1e;
  border: 1px solid #f77715;
  top: 1rem;
  right: 0rem;
  padding-left: 3rem;
} 

.me_info .avatar {
  margin: 0 auto;
  width: 6rem;
  height: 6rem;
  background: red;
  border-radius: 50%;
  border: 0.5rem solid #f8be92;
  -webkit-box-shadow: 0.125rem 0.125rem 0.5rem 0 rgba(0,0,0,.2);
          box-shadow: 0.125rem 0.125rem 0.5rem 0 rgba(0,0,0,.2);
  position: relative;
  z-index: 999;
}

.me_info p.name {
  margin: 0.75rem 0;
  font-size: 1.125rem;
}

.me_nav ul {
  height: 5.3rem;
  background: #363942;
  color: #fff;
}

.me_nav ul, .me_nav ul li {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.me_nav ul li {
  flex-direction: column;
}

.me_nav ul li h1 {
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: 5px;
  color: #ff8300;
}
.me_list div {
      display: flex;
    align-items: center;
}

.me_list img {
  width: 2rem;
  margin-right: 5px;
  display: inline;
}

.me_list ul li.setting {
  margin-top: 0.5rem;
  border-top: 1px solid #e3e4e5;
}

/* ----------- 房屋买卖 ----------- */
.trade-list {

}
.trade-list li {
  padding: 1.25rem 1rem;
  background-color: #fff;
}
.trade-list li .progress-wrap {
  width: 100%;
  height: 1.5rem;
  position: relative;
}
.progress-wrap .step-1 {
  width: 4.3rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
.progress-wrap .step-2 {
  height: 1.5rem;
  margin:  0 4.3rem;
  position: relative;
}
.progress-wrap .step-3 {
  width: 4.3rem;
  height: 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
}
.progress-wrap .line {
  width: 100%;
  position: absolute;
  height: .25rem;
  left: 0;
  top: 50%;
  margin-top: -.125rem;
  background-color: #9c9fa1;
}
.progress-wrap .step-1 .line {
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
.progress-wrap .step-3 .line {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.progress-wrap .circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -.75rem;
  background-color: #9c9fa1;
  font-size: .9375rem;
  line-height: 1.5rem;
  text-align: center;
  color: #fff;
}
.progress-wrap .step-1 .circle {
  right: 0;
}
.progress-wrap .step-2 .circle {
  left: 50%;
  margin-left: -.75rem;
}
.progress-wrap .step-3 .circle {
  left: 0;
}
.progress-wrap .green .line {
  background-color: #87cf76!important;
}
.progress-wrap .green .circle {
  background-color: #87cf76!important;
}
.progress-wrap .orange .line {
  background-color: #ff8300!important;
}
.progress-wrap .orange .circle {
  background-color: #ff8300!important;
}
.trade-list li .progress-name {
  width: 100%;
}
.trade-list li .progress-name .step-name {
  width: 33.33%;
  float: left;
  height: 2rem;
  line-height: 2rem;
  font-size: .75rem;
  text-align: center;
  color: #9c9fa1;
}
.trade-list li .progress-name .step-name.green {
  color: #87cf76!important;
}
.trade-list li .progress-name .step-name.orange {
  color: #ff8300!important;
}
.trade-list li .progress-info {
  width: 100%;
}
.trade-list li .progress-info .step-info {
  width: 33.33%;
  float: left;
}
.trade-list li .progress-info .step-info p {
  line-height: 1rem;
  font-size: .6875rem;
  color: #9c9fa1;
  text-align: center;
}
.trade-list li .progress-info .step-info p a {
  text-decoration: underline;
  color: #004d80;
}

.trade-detail-btn {
  position: fixed;
  width: 3.125rem;
  height: 3.125rem;
  line-height: 3.125rem;
  background-color: rgba(255, 88, 0, .6);
  border-radius: #ff5800;
  font-size: .9375rem;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  bottom: 5.375rem;
  right: 1rem;
}

/*业务办理*/

.white {
  background: #fff
}

.handle_wrapper h1 {
  font-size: 1.125rem;
  color: #394043;
  text-align: center;
  margin: 2.2rem 0 0.5rem;
}

.handle_wrapper ul li {
  padding: 1rem 0 ;
  margin: 0 2.8rem;
  border-bottom: 1px solid #e4e6f0; 
  line-height: 2;
  font-size: 0.75rem;
  color: #c5c5c5
}

.handle_wrapper ul li:last-child {
  border-bottom: 0px
}

.handle_wrapper ul li h2{
  font-size: 0.9375rem;
  color: #9c9fa1;
}

.handle_wrapper ul li span {
  color: #ff8a00
}


.fix_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f1f1f1;
  padding: 0.7rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d8d8d8;
}

.fix_footer div {
  color: #687072;
  display: flex;
  align-items: center;
}

.fix_footer .avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.fix_footer .footer_name {
  font-size: 1.125rem;
}

/* ----------- 我的收藏 ----------- */
.collect-content {
  border-top: 1px solid #d8d8d8;
  margin: 1.25rem 0;
  background: #fff;
  padding: 0 1rem;
}
.collect-content-list {
  padding-bottom: 1rem;
}
.collect-content-list li {
  padding: .9375rem 0;
  border-bottom: 1px solid #e3e4e5;
  position: relative;
}
.collect-content-list li p {
  color: #394043;
  font-size: .9375rem;
  line-height: 1.25rem;
}
.collect-content-list li p i {
  padding: .125rem .5rem;
  font-size: .625rem;
  border-radius: .25rem;
  margin-right: .5rem;
}
.collect-content-list li p i.inherit {
  background-color: #f5f5f5;
  color: #666;
}
.collect-content-list li p i.entrust {
  background-color: #fff2d3;
  color: #f4792a;
}
.collect-content-list li .list-bottom {
  position: absolute;
  right: .25rem;
  bottom: .45rem;
}
.collect-content-list li .list-bottom .like-btn {
  display: block;
  float: left;
  padding-left: .85rem;
  height: .6875rem;
  line-height: .6875rem;
  font-size: .6875rem;
  color: #687072;
  background: url(../images/like-icon.png) no-repeat;
  background-size: .6875rem .6875rem;
  margin-right: .75rem;
}
.collect-content-list li .list-bottom .comment-btn {
  display: block;
  float: left;
  padding-left: .85rem;
  height: .6875rem;
  line-height: .6875rem;
  font-size: .6875rem;
  color: #687072;
  background: url(../images/comment-icon.png) no-repeat;
  background-size: .6875rem .6875rem;
}

/* ----------- 房产知识 ----------- */
.knowledge-header {
  padding: .875rem;
}
.knowledge-header .search-area {
  width: 100%;
  height: 2.1875rem;
  background-color: #fff;
  border-radius: .5rem;
  z-index: 10;
  -webkit-box-shadow: 0.125rem 0.1rem 0.5rem 0.2rem rgba(0,0,0,.2);
          box-shadow: 0.125rem 0.1rem 0.5rem 0.2rem rgba(0,0,0,.2);
}

.knowledge-header .search-area .search-right {
  padding: .5rem 0;
  height: 100%;
}
.knowledge-header .search-area .search-right .search-right-input {
  width: 100%;
  height: 100%;
  padding: 0 .8125rem 0 2.5rem;
  position: relative;
}
.knowledge-header .search-area .search-right .search-right-input input {
  height: 1.1825rem;
  line-height: 1.1825rem;
  font-size: .75rem;
  padding: 0;
  margin: 0;
  border: 0;
}
.knowledge-header .search-area .search-right .search-right-input:after {
  content: '';
  display: block;
  width: .78125rem;
  height: .78125rem;
  position: absolute;
  left: .8125rem;
  top: 50%;
  margin-top: -.39rem;
  background: url(../images/search-icon.png) no-repeat;
  background-size: .78125rem .78125rem;
}
.knowledge-link {
  padding: 0 .875rem;
}
.knowledge-link a {
  display: block;
  width: 10.47rem;
  height: 5.53rem;
  border-radius: .25rem;
  overflow: hidden;
}
.knowledge-link a.left-link {
  float: left;
}
.knowledge-link a.right-link {
  float: right;
}
.knowledge-link a img {
  width: 10.47rem;
  height: 5.53rem;
}
.knowledge-content {
  margin-top: 1rem;
  border-top: 1px solid #e3e4e5;
  background-color: #fff;
}
.knowledge-content .knowledge-content-nav {
  padding: .5rem 0;
}
.knowledge-content .knowledge-content-nav span {
  float: left;
  display: block;
  width: 50%;
  height: 2.125rem;
  color: #b4b4b4;
  font-size: 1.125rem;
  text-align: center;
  line-height: 2.125rem;
}
.knowledge-content .knowledge-content-nav span.current {
  color: #394043;
  font-size: 1.25rem;
}
.knowledge-content .knowledge-content-nav span:first-child {
  border-right: 1px solid #e3e4e5;
}
.knowledge-content-list {
  margin: 0 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #e3e4e5;
}
.knowledge-content-list li {
  padding: .9375rem 0;
  border-bottom: 1px solid #e3e4e5;
  position: relative;
}
.knowledge-content-list li p {
  color: #394043;
  font-size: .9375rem;
  line-height: 1.25rem;
}
.knowledge-content-list li p i {
  padding: .125rem .5rem;
  font-size: .625rem;
  border-radius: .25rem;
  margin-right: .5rem;
}
.knowledge-content-list li p i.inherit {
  background-color: #f5f5f5;
  color: #666;
}
.knowledge-content-list li p i.entrust {
  background-color: #fff2d3;
  color: #f4792a;
}
.knowledge-content-list li .list-bottom {
  position: absolute;
  right: .25rem;
  bottom: .45rem;
}
.knowledge-content-list li .list-bottom .like-btn {
  display: block;
  float: left;
  padding-left: .85rem;
  height: .6875rem;
  line-height: .6875rem;
  font-size: .6875rem;
  color: #687072;
  background: url(../images/like-icon.png) no-repeat;
  background-size: .6875rem .6875rem;
  margin-right: .75rem;
}
.knowledge-content-list li .list-bottom .comment-btn {
  display: block;
  float: left;
  padding-left: .85rem;
  height: .6875rem;
  line-height: .6875rem;
  font-size: .6875rem;
  color: #687072;
  background: url(../images/comment-icon.png) no-repeat;
  background-size: .6875rem .6875rem;
}
.question-btn {
  position: fixed;
  width: 2.97rem;
  height: 2.97rem;
  line-height: 2.97rem;
  border-radius: 50%;
  bottom: 6.25rem;
  right: 1.125rem;
  border: 3px solid #fff;
  color: #fff;
  background-color: rgba(255,88,0,.6);
  text-align: center;
  font-size: .9375rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0,0,0,.2);
          box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0,0,0,.2);
}








